:root {
    --card-width: 340px;
}

body {
    background-color: #383838;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
    color: #d1cfb0;

}

p {
    font-size: 16pt;

    position: relative;
}

.card {
    overflow: hidden;
    border-radius: 30px;
    width: var(--card-width);
}

.cardContent {
    text-align: center;
    text-shadow: 5px 4px 4px black;
    outline: black 2px;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(46, 36, 25, 0.925) 230px, rgb(46, 36, 25) 50%);
}

.scrollable-box {
    padding: 7px;
    position: relative;
    display: inline-block;
    top: 210px;
    width: 80%;
    height: 200px;
    overflow: auto;
}