body {
    background-color: #383838;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
    color: #d1cfb0;

}

p {
    font-size: 14pt;

    position: relative;
}

/* scrollbar stuff */
div {
    scrollbar-color: #b9a369;
    scrollbar-track-color: #443723;
}

::-webkit-scrollbar {
    background-color: #443723;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #b9a369;
}

.card {
    overflow: hidden;
    border-radius: 30px;
    width: 500px;
    /* from the "Ferret-badger" wikipedia page */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3d/Melogale_moschata_%28male%29_Praha_zoo_02.2011_01.jpg");
}

.cardContent {
    text-align: center;
    text-shadow: 5px 4px 4px black;
    outline: black 2px;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(46, 36, 25, 0.925) 230px, rgb(46, 36, 25) 50%);
}

.scrollable-box {
    padding: 7px;
    position: relative;
    display: inline-block;
    top: 210px;
    width: 200px;
    height: 200px;
    overflow: auto;
}

.left {
    direction: ltr;
}